.container {
  overflow: hidden;
  height: 100vh;
  display: grid;
  grid-template-columns: [left] 1fr [right] 1fr [end];
  grid-template-rows: [header] 1.8fr [searchBar] 1fr [body] 9fr [end];
}
.backGround {
  grid-row: searchBar/end;
  grid-column: left/end;
  background: url("/images/girl.jpg") 0 -5rem;
  background-size: cover;
}
.overLay {
  grid-row: searchBar/end;
  grid-column: left/end;
  background: transparentize(#3c005b, 0.2);
  z-index: 2;
}

.headerContainer {
  grid-row: header;
  grid-column: left/end;

  display: flex;
  justify-content: center;
  align-items: center;
  background: lighten(#020202, 90);
}
.searchBarContainer {
  grid-row: searchBar;
  grid-column: left/end;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  input {
    color: white;
    border: none;
    background: transparent;
    width: 18rem;
    height: 2rem;
    margin-top: 2rem;
    text-align: center;
    font-size: 25px;

    &::placeholder {
      text-align: center;
      font-size: 20px;
      color: white;
    }
  }
}

.searchBarContainer input:focus {
  outline: none;
}
.resultsContainer {
  grid-row: body;
  grid-column: left/right;
  overflow-y: scroll;
  display: flex;
}

.resultsContainer::-webkit-scrollbar {
  display: none;
}
.playlistContainer {
  grid-row: body;
  grid-column: right/end;
  display: flex;
  overflow-y: scroll;
  z-index: 2;
  justify-content: center;
}
.playlistContainer::-webkit-scrollbar {
  display: none;
}
