.container {
}
.content {
  margin: 2rem auto;
  width: 85%;
  display: grid;
  gap: 5%;
  grid-template-rows: [upper] 2fr [end];
  grid-template-columns: [artist] 2fr [song] 4fr [album] 4fr [preview] 1fr [plus] 1fr [end];
}
.artist {
  grid-row: upper;
  grid-column: artist;
  color: white;
  //   border: white 2px solid;
  display: flex;
  display: flex;
  align-items: center;
  h3 {
    font-weight: 450;
  }
}

.song {
  grid-row: upper;
  grid-column: song;
  color: white;
  display: flex;
  align-items: center;
  h3 {
  }
}
.album {
  grid-row: upper;
  grid-column: album;
  color: white;
  display: flex;
  align-items: center;

  h3 {
    font-size: 15px;
    font-weight: 400;
  }
}

.plus {
  grid-row: upper;
  grid-column: plus;
  font-size: 29px;

  display: flex;

  justify-content: center;

  a {
    font-size: 33px;
    color: white;
    font-weight: 900;
  }
}

.preview {
  grid-row: upper;
  grid-column: preview;
  margin-top: 2rem;

  display: flex;
  text-align: center;

  a {
    font-weight: 900;
    text-decoration: none;
    color: white;
  }
}
